*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Sora', sans-serif;
  background-color: #FAFAFA;
  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: 'Sora', sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
}

input, select, textarea {
  font-family: 'Sora', sans-serif;
  outline: none;
}
